*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #EEEEEE;
}

.heading{
    text-align: center;
    font-family: 'MonteCarlo', cursive;
    font-size: 3rem;
    
}

.kilogramclass{
    padding-top: 150px;
    padding-left: 15%;
    align-items: center;
    display: inline-flex;
    /* background-color: aqua; */
}

.pounds p{
    width:100%;
    height:10%px;
    text-align: center;
    /* background-color: gold; */
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.ounce p{
    margin-left: 10px;
    width:100%;
    height:10%px;
    text-align: center;
    /* background-color: gold; */
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.grams p{
    margin-left: 20px;
    width:100%;
    height:10%px;
    text-align: center;
    /* background-color: gold; */
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.stones p{
    margin-left: 30px;
    width:100%;
    height:10%px;
    text-align: center;
    /* background-color: gold; */
    font-family: 'Roboto';
    font-size: 1.2rem;
}